*{
    margin:  0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}
body{
    background: #0c1022;
    background-color: beige;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px 10%;
    background-color: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.navbar a{
    font-size: 16px;
    color: #0c1022;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}
.navbar a.active,
.navbar a:hover{
   background:linear-gradient(45deg, rgb(200, 255, 0),rgb(204, 68, 79));
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;

}